nav {
    display: flex;
    justify-content: space-around;
    background-color: red;
  }
  
  .button {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
  }
  
  .gray {
    background-color:rgba(198, 192, 192, 0.92);
    box-shadow: 0px 5px 0px 0px white;
  }

  